@import "../reindeer/styles.css";

.v-form fieldset {
    border: thin solid;
    border-color: lavender;
}

/* ContextHelp*/
.v-helprouter
{	

}
.popupContent
{
	
}
.helpText
{
margin:5%;
font-size:-1;
}

.valid
{
	background-color:#99EE72;
}

.invalid
{
	background-color:#EE7272;
}