@import "../reindeer/styles.css";

.v-table-cell-content {
    vertical-align: middle;
}

.v-form fieldset {
    border: thin solid;
    border-color: lavender;
}

.v-margin0
{
	margin: 0em;
}

.noborder {
    border: none !important;
}

.margin1em
{
	margin: 1em;
}

/* ContextHelp*/
.v-helprouter
{	

}
.popupContent
{
	
}
.helpText
{
margin:5%;
font-size:-1;
}

.red
{
	color:red;
}

.valid
{
/*	background-color:#99EE72; */
background-color:#00ff00;
}

.invalid
{
/*	background-color:#EE7272;*/
	background-color:#ff0000;
}

.unsure
{
	background-color:#ffff00;
}
/*Cytoprocess*/
.contextmenu {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	font-family : Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	line-height: normal;
	margin: 2px;
}

.gwt-MenuItem-selected, .v-label:hover {
	background-color: #000;
	color: #fff;
}
/**/