@import "../reindeer/styles.css";
@import "../Cytoprocess/styles.css";
@import "../Gui/styles.css";

.v-table-cell-content {
    vertical-align: middle;
}

.v-form fieldset {
    border: thin solid;
    border-color: lavender;
}

.v-margin0
{
	margin: 0em;
}

.noborder {
    border: none !important;
}

.margin1em
{
	margin: 1em;
}

/* ContextHelp*/
.v-helprouter
{	

}
.popupContent
{
	
}
.helpText
{
margin:5%;
font-size:-1;
}

.red
{
	color:red;
}

.valid
{
/*	background-color:#99EE72; */
background-color:#00ff00;
}

.invalid
{
/*	background-color:#EE7272;*/
	background-color:#ff0000;
}

.unsure
{
	background-color:#ffff00;
}

.v-tree-node {
	font-weight:bold;
}
.v-tree-node-expanded {
    font-weight: normal;
}