@import "../reindeer/styles.css";

/*Cytoprocess*/
.contextmenu {
	background-color: #fff;
	border: 1px solid #000;
	color: #000;
	font-family : Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	line-height: normal;
	margin: 2px;
}

.gwt-MenuItem-selected{
	background-color: #000;
	color: #fff;
}
/*tree

.v-tree   {
	background-color: #928AC2;
	font-weight: bold;
}
.v-tree-node   {
	font-weight: normal;
}
.v-tree-node .v-tree-node-leaf  {
	font-weight:bold;
}*/